.pong-container-box {
	width: 50%; /* 50% de la largeur de l'écran */
	height: 50%; /* 50% de la hauteur de l'écran */
	display: flex;
	border-radius: 20px;
	border: 9px solid #ffd27d;
	background-color: rgba(41, 37, 82, 0.40);
	position: absolute;
	top: 25%; 
	left: 25%; 
}
  
  /* Utiliser des pourcentages pour la position des sticks */
.red-stick {
	width: 2%;
	height: 25%; 
	background-color: red; 
	border: none;
	position: relative;
	left: 92%;
}

.green-stick {
	width: 2%;
	height: 25%; 
	background-color: green;
	border: none;
	position: relative;
	left: 4%; 
 }


 .red-stick-score {
	position: relative;
	text-align: center;
	font-size: 200%;
	top: 1%;
	font-family: "Orbitron";
	font-weight: bold;
	color: #ffd27d; 
	left: 30%;
}

 .green-stick-score {
	position: relative;
	text-align: center;
	font-size: 200%;
	top: 1%;
	font-family: "Orbitron";
	font-weight: bold;
	color: #ffd27d; 
	left: 50%;
}

.ball {
	width: 3%; /* Définir la largeur de la balle */
	height: 4%; /* Définir la hauteur de la balle */
	position: absolute;
	border-radius: 50%; /* Rendre la balle circulaire en utilisant un rayon de 50% */
	background-color: #ffd27d; /* Définir la couleur de fond de la balle (jaune) */
}
  
  