.card {
    transition: .1s;
    position: relative;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
}

.side-bar {
    position: relative;
    display: flex;
    height: 100%;
    width: 35%;
    flex-direction: column;
}

.chat-app .people-list {
    position: relative;
    width: 100%;
    z-index: 7;
    overflow: auto;
    height: 94%;
}

.chat-app .people-list::-webkit-scrollbar {
    display: none;
}

.chat-app .chat {
    position: relative;
    width: 65%;
    height: 100%;
    border-left: 2px solid #FFD233;
    color: #ffd27d;
    font-family: "Orbitron";
    font-weight: bold;
    font-size: 20px;
}

.people-list {
    position: relative;
    transition: .2s;
    color: #ffd27d;
    font-family: "Orbitron";
    font-weight: bold;
    font-size: 20px;
}

.people-list .header-side-bar {
    display: flex;
    justify-content: center;
}

.people-list h3 {
    margin: 0;
    margin-bottom: 2%;
}

.people-list .card-chat-list {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    border-radius: 3px;
    padding: 10px 1px;
    cursor: pointer;
    flex-wrap: wrap;
    font-size: 20px;
}

.people-list .chat-list .card-chat-list:hover {
    margin-left: 10%;
    transition: 1s;
}

.people-list .card-chat-list:not(:hover) {
    transition: margin-left 1.5s;
} 

.people-list .chat-list li {
    width: 70%;
    list-style: none;
}

.people-list .chat-list li .name {
    position: relative;
    display: flex;
    justify-content: center;
    height: 10%;
    width: 100%;
}

.people-list .chat-list img {
    width: 45px;
    border-radius: 50%
}

.people-list img {
    float: left;
    border-radius: 50%
}

.people-list .about {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #ffd27d;
}

.img-states {
    display: flex;
    position: relative;
}
/* .people-list .about-containers {
    float: left;
    padding-left: 8px
} */


.people-list .status {
    color: #999;
    font-size: 13px
}

.chat .chat-header {
    padding: 15px 15px 15px 15px;
    border-bottom: 2px solid #FFD233;
    font-size: 25px;
}

.chat .chat-header img {
    float: left;
    padding: 10px;
    border-radius: 40px;
    width: 40px
}

.Chat .chat-header {
    float: left;
    padding-left: 10px
}

.chat .chat-history {
    padding: 5%;
    background-color: rgba(21, 39, 174, 0.186);
    height: 500px;
    border-radius: 40px;
    padding: 15px 20px;
	border-radius: 5px;
    color: #ffd27d;
    font-family: "Orbitron";
    font-weight: bold;
    font-size: 25px;
	overflow:auto;
}

.chat .chat-history .message {
    color: #444;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    display: inline-block;
    position: relative
}

.chat .chat-history .message:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: fixed;
    pointer-events: none;
    border-width: 10px;
    margin-left: -10px
}

.chat .chat-history .my-message {
    background: #efefef
}

.chat .chat-history .my-message:after {
    bottom: 100%;
    left: 30px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #efefef;
    border-width: 10px;
    margin-left: -10px
}

.chat .chat-history .other-message {
    background: #e8f1f3;
    text-align: right
}

.chat .chat-history .other-message:after {
    border-bottom-color: #e8f1f3;
    left: 93%
}

.chat-message {
    position: relative;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    height: 10%;
    width: 100%;
    /* padding: 20px */
}

.online,
.offline,
.me {
    margin-right: 2px;
    font-size: 8px;
    vertical-align: middle
}

.online {
    color: #86c541
}

.offline {
    color: #e47297
}

.me {
    color: #1d8ecd
}

.float-right {
    float: right
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

@media only screen and (max-width: 767px) {
    .chat-app .people-list {
        height: 465px;
        width: 100%;
        overflow-x: auto;
        background: #fff;
        left: -400px;
        display: none
    }
    .chat-app .people-list.open {
        left: 0
    }
    .chat-app .chat {
        margin: 0
    }
    .chat-app .chat .chat-header {
        border-radius: 0.55rem 0.55rem 0 0;

    }
    .chat-app .chat-history {
        height: 300px;
        overflow-x: auto
    }
}

.nav_section_message {
    position: relative;
    width: 100%;
    height:7%;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
}

.nav_section_btn {
    position: relative;
    width: 20%;
    height: 80%;
    object-fit: contain;
    max-width: 80%;
    max-width: 80%;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
}

#btn1 {
    height: 80%;
    width: 80%;
    transition: .5s;
}

#btn1:hover {
    height: 100%;
    width: 100%;
}

#btn2 {
    height: 70%;
    width: 70%;
    transition: .5s;
}

#btn2:hover {
    height: 100%;
    width: 100%;
}

#btn3 {
    height: 70%;
    width: 70%;
    transition: .5s;
}

#btn3:hover {
    height: 100%;
    width: 100%;
}

#btn4 {
    height: 70%;
    width: 70%;
    transition: .5s;
}

#btn4:hover {
    height: 100%;
    width: 100%;
}

.input-message {
	width: 85%;
	padding: 1%;
	top: 1px;
	/* border-radius: 40%; */
}

.input-send-msg {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.send-button{
	padding: 1%;
}

.state {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-top: 60%;
    margin-left: 60%;
    border: 1px solid #EDD3C4;
}

#active {
    background-color: green;
}

#afk {
    background-color: yellow;
}

#disconnected {
    background-color: red;
}

/* @media only screen and (min-width: 768px) and (max-width: 992px) {
    .chat-app .chat-list {
        height: 650px;
        overflow-x: auto
    }
    .chat-app .chat-history {
        height: 600px;
        overflow-x: auto;
        border: 1200px;
    }
} */

/* @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .chat-app .chat-list {
        height: 480px;
        overflow-x: auto
    }
    .chat-app .chat-history {
        height: calc(100vh - 350px);
        overflow-x: auto
    }
} */