.card {
    transition: .1s;
    position: relative;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
}

.chat-app .people-list {
    width: 280px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px;
    z-index: 7;
    overflow: auto;
    height: 94%;
}

.chat-app .people-list::-webkit-scrollbar {
    display: none;
}

.chat-app .chat {
    margin-left: 280px;
    border-left: 2px solid #FFD233;
    color: #ffd27d;
    font-family: "Orbitron";
    font-weight: bold;
    font-size: 20px;
}

.people-list {
    -moz-transition: .5s;
    -o-transition: .5s;
    -webkit-transition: .5s;
    transition: .2s;
    color: #ffd27d;
    font-family: "Orbitron";
    font-weight: bold;
    font-size: 20px;
}

.people-list .chat-list li {
    padding: 10px 1px;
    list-style: none;
    border-radius: 3px
}


.people-list .chat-list li:hover {
    background: rgba(21, 39, 174, 0.186);
    color: #ffd27d;
    font-family: "Orbitron";
    font-weight: bold;
    font-size: 20px;
    border-radius: 15%;
    cursor: pointer;
    width: 200px;
}

.people-list .chat-list li.active {
    background: rgba(21, 39, 174, 0.186);
    width: 200px;
}

.people-list .chat-list li .name {
    font-size: 15px
}

.people-list .chat-list img {
    width: 45px;
    border-radius: 50%
}

.people-list img {
    float: left;
    border-radius: 50%
}

.people-list .about {
    float: left;
    padding-left: 8px
}

/* .people-list .about-containers {
    float: left;
    padding-left: 8px
} */


.people-list .status {
    color: #999;
    font-size: 13px
}

.chat .chat-header {
    padding: 15px 15px 15px 15px;
    border-bottom: 2px solid #FFD233;
    font-size: 25px;
}

.chat .chat-header img {
    float: left;
    padding: 10px;
    border-radius: 40px;
    width: 40px
}

.Chat .chat-header {
    float: left;
    padding-left: 10px
}

.chat .chat-history {
    padding: 5%;
    background-color: rgba(21, 39, 174, 0.186);
    height: 500px;
    border-radius: 40px;
    padding: 15px 20px;
	border-radius: 5px;
    color: #ffd27d;
    font-family: "Orbitron";
    font-weight: bold;
    font-size: 25px;
	overflow:auto;
}

.chat .chat-history .message {
    color: #444;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    display: inline-block;
    position: relative
}

.chat .chat-history .message:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: fixed;
    pointer-events: none;
    border-width: 10px;
    margin-left: -10px
}

.chat .chat-history .my-message {
    background: #efefef
}

.chat .chat-history .my-message:after {
    bottom: 100%;
    left: 30px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #efefef;
    border-width: 10px;
    margin-left: -10px
}

.chat .chat-history .other-message {
    background: #e8f1f3;
    text-align: right
}

.chat .chat-history .other-message:after {
    border-bottom-color: #e8f1f3;
    left: 93%
}

.chat-message {
    top: 75%;
    padding: 20px
}

.online,
.offline,
.me {
    margin-right: 2px;
    font-size: 8px;
    vertical-align: middle
}

.online {
    color: #86c541
}

.offline {
    color: #e47297
}

.me {
    color: #1d8ecd
}

.float-right {
    float: right
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

@media only screen and (max-width: 767px) {
    .chat-app .people-list {
        height: 465px;
        width: 100%;
        overflow-x: auto;
        background: #fff;
        left: -400px;
        display: none
    }
    .chat-app .people-list.open {
        left: 0
    }
    .chat-app .chat {
        margin: 0
    }
    .chat-app .chat .chat-header {
        border-radius: 0.55rem 0.55rem 0 0;

    }
    .chat-app .chat-history {
        height: 300px;
        overflow-x: auto
    }
}

.nav_section_message {
    position: relative;
}

.input-message {
	width: 90%;
	padding: 1%;
	top: 1px;
	/* border-radius: 40%; */
}

.send-button{
	padding: 1%;
}

.state-active {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: green;
}

.state-afk {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: yellow;
    color: yellow;
}

.state-disconnected {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
}
/* @media only screen and (min-width: 768px) and (max-width: 992px) {
    .chat-app .chat-list {
        height: 650px;
        overflow-x: auto
    }
    .chat-app .chat-history {
        height: 600px;
        overflow-x: auto;
        border: 1200px;
    }
} */

/* @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .chat-app .chat-list {
        height: 480px;
        overflow-x: auto
    }
    .chat-app .chat-history {
        height: calc(100vh - 350px);
        overflow-x: auto
    }
} */