/* 
rose texte =>     rgb(205, 163, 241);
Jaune ecrit =>     #ffd27d
 */



.card {
    transition: .1s;
    position: relative;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
}

.side-bar {
    position: relative;
    display: flex;
    height: 100%;
    width: 35%;
    flex-direction: column;
}

#add-chanel-btn-box {
    position: relative;
    height: 50%;
    width: 20%;
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

#add-chanel-btn-box:hover {
    height: 55%;
    transition: 1s;
}

#add-chanel-btn-box:not(:hover) {
    transition: .5s;
}

#add-chanel-btn {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.people-list {
    position: relative;
    transition: .2s;
    color: #ffd27d;
    font-family: "Orbitron";
    font-weight: bold;
    font-size: 20px;
}

.people-list .header-side-bar {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-left: auto;
    width: 100%;
}

.people-list h3 {
    display: flex;
    justify-content: center;
    margin: 0;
    margin-bottom: 2%;
}

.people-list .card-chat-list {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    border-radius: 3px;
    padding: 10px 1px;
    cursor: pointer;
    flex-wrap: wrap;
    font-size: 20px;
}

.people-list .chat-list .card-chat-list:not(#chan-req-card):hover {
    margin-left: 10%;
    transition: 1s;
}

.people-list .card-chat-list:not(:hover):not(#chan-req-card) {
    transition: margin-left 1.5s;
} 

.people-list .chat-list li {
    width: 70%;
    list-style: none;
}

.people-list .chat-list li .name {
    position: relative;
    display: flex;
    justify-content: center;
    height: 10%;
    width: 100%;
}

.people-list .chat-list img {
    width: 45px;
    border-radius: 50%
}

.people-list .list-of-direct-msg img {
    width: 45px;
    border-radius: 50%
}


.people-list img {
    float: left;
    border-radius: 50%
}

.people-list .about {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #ffd27d;
}

.img-states {
    display: flex;
    position: relative;
}

.people-list .status {
    color: #999;
    font-size: 13px
}

.chat-app .people-list {
    position: relative;
    width: 100%;
    z-index: 7;
    overflow: auto;
    height: 94%;
}

#chan-req-card {
    cursor: auto;
}

.req-chan-btn {
    border: none;
    width: 50%;
    height: 100%;
    background-color: rgb(0 0 0 / 0%);
    cursor: pointer;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}

#accept-chan-req-btn {
    height: 20px;
    width: 20px;
}

#accept-chan-req-btn:hover {
    height: 25px;
    width: 25px;
    transition: 1s;
}

#refuse-chan-req-btn {
    border: none;
    height: 20px;
    width: 20px;
    
}

#refuse-chan-req-btn:hover {
    height: 25px;
    width: 25px;
    transition: 1s;
}

.chat-app .people-list::-webkit-scrollbar {
    display: none;
}

.chat-app .chat {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 65%;
    height: 100%;
    border-left: 2px solid #FFD233;
    color: #ffd27d;
    font-family: "Orbitron";
    font-weight: bold;
    font-size: 20px;
}

.chat .chat-header {
    width: 100%;
    height: 20%;
    border-bottom: 2px solid #FFD233;
    font-size: x-large;
    overflow: hidden;
}

.chat .chat-header img {
    float: left;
    padding: 10px;
    border-radius: 40px;
    width: 40px
}

.Chat .chat-header {
    float: left;
    padding-left: 10px
}

#add-usr-in-chan-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#searchbar-add-chan {
    justify-content: center;
    width: 50%;
    height: 10%;
    margin-top: 5%;
    margin-bottom: 3%;
    font-size: 90%;
}

#search-result-add-in-chan {
    position: relative;
    transition: 1s;
    width: 100%;
    height: 80%;
}

.card-add-user-in-chan {
    width: 80%;
    height: 15%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
    gap: 1%;
    align-items: center;
    border-bottom: solid #ffd27d;
    
}

.avatar-add-chan {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    align-self: center;
}

#add-btn-in-chan {
    width: 15%;
    height: 100%;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    background-color: rgb(0 0 0 / 0%);
    border: none;
    cursor: pointer;
}

#img-add-user-in-chan {
    width: 90%;
    height: 90%;
}

#img-add-user-in-chan:hover{
    width: 100%;
    height: 100%;
    transition: .75s;
}

#img-add-user-in-chan:not(:hover) {
    transition: .5s;
}


.chat .chat-history {
    position: relative;
    display: flex;
    height: 80%;
    width: 100%;
    background-color: rgba(21, 39, 174, 0.186);
    /* border-radius: 40px; */
    color: #ffd27d;
    font-family: "Orbitron";
    font-weight: bold;
    font-size: 25px;
	overflow:auto;
}

#create-chanel-box {
    display:flex;
    flex-direction: column;
    height: 90%;
    width: 90%;
    padding: 5% 5% 5% 5%;
    /* justify-content: center; */
}

#create-chanel-box form {
    margin-left: 10%;
    height: 100%;
}

.chat .chat-history input {
    border: 0px transparent;
    height: 6%;
    width: 40%;
    border-radius: 50px;
    align-items: center;
    background-color:rgba(41, 37, 82, 0.40);
    color:	#FFFFFF;
    text-align: center;
    align-self: center;
    margin-bottom: 2%;
}

#radio-create-chan-btn-1{ 
    width: 5%;
    cursor: pointer;
}

#radio-create-chan-btn-2 {
    width: 5%;
    cursor: pointer;
}

.radio-select {
    color: rgb(205, 163, 241);
    width: 100%;
    font-size: 18px;
}

#create-chan-submit-btn {
    width: 20%;
    height: 10%;
    border: 2px solid #FFD233;
    border-radius: 50px;
    color: #ffd27d;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 5%;
    cursor: pointer;
}

.chat .chat-history .message {
    color: #444;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    display: inline-block;
    position: relative
}

.chat .chat-history .message:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: fixed;
    pointer-events: none;
    border-width: 10px;
    margin-left: -10px
}

.chat .chat-history .my-message {
    background: #efefef
}

.chat .chat-history .my-message:after {
    bottom: 100%;
    left: 30px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #efefef;
    border-width: 10px;
    margin-left: -10px
}

.chat .chat-history .other-message {
    background: #e8f1f3;
    text-align: right
}

.chat .chat-history .other-message:after {
    border-bottom-color: #e8f1f3;
    left: 93%
}

.chat-message {
    position: relative;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    height: 10%;
    width: 100%;
    /* padding: 20px */
}

.online,
.offline,
.me {
    margin-right: 2px;
    font-size: 8px;
    vertical-align: middle
}

.online {
    color: #86c541
}

.offline {
    color: #e47297
}

.me {
    color: #1d8ecd
}

.float-right {
    float: right
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

@media only screen and (max-width: 767px) {
    .chat-app .people-list {
        height: 465px;
        width: 100%;
        overflow-x: auto;
        background: #fff;
        left: -400px;
        display: none
    }
    .chat-app .people-list.open {
        left: 0
    }
    .chat-app .chat {
        margin: 0
    }
    .chat-app .chat .chat-header {
        border-radius: 0.55rem 0.55rem 0 0;

    }
    .chat-app .chat-history {
        height: 300px;
        overflow-x: auto
    }
}

.nav_section_message {
    position: relative;
    width: 100%;
    height:7%;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
}

.nav_section_btn {
    position: relative;
    width: 20%;
    height: 80%;
    object-fit: contain;
    max-width: 80%;
    max-width: 80%;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
}

#btn1 {
    height: 50%;
    width: 50%;
    transition: .3s;
}

#btn1:hover {
    height: 80%;
    width: 80%;
}


#btn2 {
    height: 50%;
    width: 50%;
    transition: .3s;
    z-index: 4;
}

#btn2:hover {
    height: 80%;
    width: 80%;
}

#btn3 {
    height: 50%;
    width: 50%;
    transition: .3s;
}

#btn3:hover {
    height: 80%;
    width: 80%;
}

#btn4 {
    height: 50%;
    width: 50%;
    transition: .3s;
}

#btn4:hover {
    height: 80%;
    width: 80%;
    transition: .3s;
}

.input-message {
	width: 85%;
	padding: 1%;
	top: 1px;
	/* border-radius: 40%; */
}

.input-send-msg {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.send-button{
	padding: 1%;
}

.state {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-top: 60%;
    margin-left: 60%;
    border: 1px solid #EDD3C4;
}

#active {
    background-color: green;
}

#afk {
    background-color: yellow;
}

#disconnected {
    background-color: red;
}

#inGame {
    background-color: blue;
}


.list-of-direct-msg{
	height: 8%;
	width: 90%;
	display: flex;
	background-color: #210b358a;
	border-radius: 5%;
	margin-top: 5%;
	transition: height 0.3s;
}

.list-of-direct-msg:hover {
    height: 10%; /* Nouvelle hauteur lorsque survolé */
}


.avatar-in-direct-msg{
	height: 80%;
	width: 90%;
}
.name-in-direct-msg{
	width: 60%;
	height: 100%;
	color: #ffd27d;
	font-size: 1.9rem;
}


.direct-msg-btn{
	background-color: #570fe700;
	border: none;
	width: 90%;
}

.my-about{
	float: left;
	height: 50%;
	padding-left: 8px;
	margin-top: 5%;
}




.btn_profile{
	width: 20px;
	height: 40px;
	background: url("/ft_transcendence/src/image/profil.png") center no-repeat;
	background-size: contain;
	border: none;
	align-items: center;
	object-fit: scale-down;
	margin-top: 2%;
	margin-right: 5%;
	cursor: pointer;
	/* margin-right: 5%; */
}

#btn_profile:hover {
	width: 10px
}


.btn_blocked{
	width: 20%;
	height: 40%;
	/* background: url("/ft_transcendence/src/image/interdit_symbole.png") center no-repeat; */
	background-size: contain;
	border: 0px transparent;
	object-fit: scale-down;
	align-items: center;
	margin-top: 8%;
}



.parametre-of-chan{
	height: 20px;
	width: 20px;
	margin-left: 2%;
	margin-top: 0.7%;
	border: none;
	background: url("/ft_transcendence/src/image/settings_btn.png") center no-repeat;
	background-size: contain;
	transition: width 0.3s;
}
.parametre-of-chan:hover {
    width: 5%; /* Nouvelle hauteur lorsque survolé */
}

.add-user-in-chan{
	height: 30px;
	width: 30px;
	margin-left: 80%;
	border: none;
	background: url("/ft_transcendence/src/image/add-user.png") center no-repeat;
	background-size: contain;
	transition: width 0.3s;

}
.add-user-in-chan:hover {
    width: 7%; /* Nouvelle hauteur lorsque survolé */
}



/* Styles pour les boutons */
.icon-container {
    display: flex; 
  }
  
  .icon-button {
    width: 10%; 
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    transition: transform 0.3s;
    border:  solid transparent; 
  }
  
  .icon-button:hover {
    transform: scale(1.2); /* Zoom au survol */
  }
  
  /* Styles pour les images des boutons */
  .icon-button img {
    width: 70%;
    height: 70%;
    object-fit: contain; 
  }

  .param-chan-button {
    position: relative;
    width: 100%;
    height: 40%;
    left: 70%;

}
  
.play-btn{
    position: relative;
    left: 90%;
}


.game-btn {
	border-radius: 20%;
	border: none;
	background-color: #ed1418;
    font-family: "Orbitron";
    font-weight: bold;
    font-size: 100%;
	width: 80%;
	height: 20=5%;
	color: #ffd27d;
	background-image: linear-gradient(45deg, #66315d, #7e32f9);
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
	animation: glow-border 2s linear infinite;
  }
  @keyframes glow-border {
	0%, 100% {
		border: 2px solid transparent;
		box-shadow: 0 0 55px 5px rgba(105, 189, 241, 0.516);
	}
	50% {
		/* border: 0px solid rgba(255, 0, 0, 0.6); */
		box-shadow: none;
	}
}
