/* .SignIn-Button {
  align-items: center;
  box-shadow: 0px 14px 14px #00000040;
  display: flex;
  height: 11%;
  top: 70%;
  justify-content: space-around;
  padding: 14px;
  position: fixed;
  width: 25%;
  border-radius: 10px;
  left: 37%;
  background-color: rgba(23, 24, 110, 0.573); 
  transition: transform 0.3s ease-in-out; 
}
.SignIn-Button:hover{
	transform: scale(1.1);
  }

.SignIn-Button .SignIn-Text {
  color: #c865db;
  font-family: "Azeret Mono-SemiBoldItalic", Helvetica;
  font-size: 5vw; 
  font-style: italic;
  font-weight: 4em; 
  letter-spacing: 0;
  line-height: normal;
  position: fixed;
  text-align: center;
  white-space: nowrap;
  width: 20%;
  transform: scale(1.1);
} */
.SignIn-Button {
  align-items: center;
  box-shadow: 0px 14px 14px #00000040;
  display: flex;
  height: 11%;
  top: 70%;
  justify-content: space-around;
  padding: 14px;
  position: fixed;
  width: 25%;
  border-radius: 10px;
  left: 37%;
  background-color: rgba(23, 24, 110, 0.573);
  transition: transform 0.3s ease-in-out;
  transform-origin: center; /* Ajouter cette ligne */
  overflow: hidden; /* Empêche le contenu de déborder */

}

.SignIn-Button:hover {
  transform: scale(1.1);
  transform-origin: center; /* Centre la transformation au point d'origine */

}

.SignIn-Button .SignIn-Text {
  color: #c865db;
  transform: scale(1); /* Réinitialise la transformation du texte */
  font-family: "Azeret Mono-SemiBoldItalic", Helvetica;
  font-size: 5vw;
  font-style: italic;
  font-weight: 4em;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 100%;
  transform: scale(1.1);
  transform-origin: center; /* Ajouter cette ligne */
}
