.Chat {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(236, 233, 233, 0.101);
	z-index: 7;
	opacity: 0; /* Définissez l'opacité initiale à 0 */
	transition: opacity 0.9s ease;
  }

  .Creat_Msg {
	position: absolute;
	top: 10%;
	left: 10%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(236, 233, 233, 0.101);
	z-index: 7;
	opacity: 0; /* Définissez l'opacité initiale à 0 */
	transition: opacity 0.9s ease;
  }

  .Creat_Msg.showw {
	opacity: 1; /* Définissez l'opacité à 1 lorsque la classe 'show' est appliquée */
  }

  .Chat.show {
	opacity: 1; /* Définissez l'opacité à 1 lorsque la classe 'show' est appliquée */
  }
  
  @keyframes fade-in {
	from {
	  opacity: 0; /* Définissez l'opacité initiale à 0 */
	}
	to {
	  opacity: 1; /* Définissez l'opacité finale à 1 */
	}
  }