.Contact_pad {
	position: absolute;
	top: 3%;
	left: 15%;
	width: 83%;
	height: 95%;
	background-position: center;
	background-color: rgba(41, 37, 82, 0.40); 
	border-radius: 20px;
	overflow: hidden;
	font-family: "Orbitron";
}

h2 {
	top: 0%;
	text-align: center;
	font-weight: bold;
}

.title {
	position: relative;
	width: 100%;
}

#Contact_labels {
	position: relative;
	height: 10%;
	width: 100%;
	/* font: bold; */
}

.box_request{
	position: relative;
	width: 70%;
	height: 40%;
	margin-left: 15%;
	margin-right: 15%;
	border: 3px solid #ffd27d;
	background-color: rgba(113, 67, 250, 0.20);
	overflow: hidden;
	border-radius: 50px;
	margin-top: 2%;
	margin-bottom: 5%;
}

.Friend_contact {
	position: relative;
	top: 0%;
	height: 80%;
	width: 100%;
	display: flex;
	overflow: auto;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.Friend_contact .card {
	width: 170px;
	height: 170px;
	border: 3px solid #ffd27d;
	border-radius: 50px;
	text-align: center;
	margin: 2% 0% 2% 0%;
}

.Friend_contact .card .avatar {
	position: relative;
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 5%;
	height: 50%;
	width: 50%;
	border: 3px solid #ffd27d;
	border-radius: 48%;
}



.Friend_contact #card_p {
	margin-top: 6%;
	margin-bottom: 7%;
	font-size: 1.2em;
}

.Friend_contact .response {
	position: relative;
	display: flex;
	justify-content:  space-around;
}

#accept {
	height: 100%;
	background: url('/ft_transcendence/src/image/check.png') no-repeat center;
	background-size: contain;
	border: 0px;
}

#refuse {
	height: 100%;
	background: url('/ft_transcendence/src/image/cross.png') no-repeat center;
	background-size: contain;
	border: 10px;
}

.box_ListContact {
	position: relative;
	width: 80%;
	height: 45%;
	margin-left: 10%;
	margin-right: 10%;
	border: 3px solid #ffd27d;
	background-color: rgba(113, 67, 250, 0.20);
	overflow: hidden;
	border-radius: 50px;
	margin-top: 2%;
	margin-bottom: 2%;
	display: flex;
	flex-wrap: wrap;
}

.List_contact {
	position: relative;
	height: 70%;
	width: 100%;
	overflow: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 20px;
}

.List_contact .card {
	width: 80%;
	border: 3px solid #ffd27d;
	display: flex;
	justify-content: space-between;
	border-radius: 50px;
	margin-left: 10%;
	margin-right: 10%;
}

.List_contact .avatar {
	height: 40px;
	width: 40px;
	border: 3px solid #ffd27d;
	border-radius: 50px;
	align-self: center;
	margin-left: 2%;
}


#delete {
	position: relative;
	background: url(/ft_transcendence/src/image/no.png) center no-repeat;
	background-size: contain;
	border: none;
	height: 100%;
	margin-right: 10px;
}